# Gradle
.gradle
/build

# Local config
local.properties

# IDE
*.iml
.idea/caches
.idea/libraries
.idea/modules.xml
.idea/workspace.xml
.idea/navEditor.xml
.idea/assetWizardSettings.xml

# Mac
.DS_Store

# NDK
.externalNativeBuild
.cxx

# Captures
/captures

# Secrets
app/src/main/java/com/weather/API_KEYS.kt